@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<section class="vh-100 pt-10vh w-80 m-auto">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="text-danger" asp-validation-summary="All"></div>
                <form asp-action="Login" method="post">

                    <input type="hidden" asp-for="ReturnUrl" />

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control form-control-lg" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control form-control-lg" />
                    </div>

                    <!-- Remember Me Checkbox -->
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-0">
                            <input type="checkbox" asp-for="Remember" class="form-check-input me-2" />
                            <label asp-for="Remember" class="form-check-label"></label>
                        </div>
@*                        <a href="#!" class="text-body">Forgot password?</a>
*@                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg px-5">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account?
                            <a asp-controller="Account" asp-action="Register">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>