@model string
@{
    ViewData["Title"] = "Resources";
}

@section Links {
    <link rel="stylesheet" href="~/css/resources.css" asp-append-version="true" />
    
}

<section class="resources-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <div class=" resources-container pt-5">
        <h2>Online Presence Tools</h2>
        <div class="resources-row">
            
            <div class="resources-service">
                <div class="resources-logo">
                    <a href="https://new.learnmyway.com/">
                        <img src="css/images/learn-my-way-removebg-preview.png" alt="">
                    </a>
                </div>
                <h3>Learn My Way</h3>
                
                </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <a href="https://www.wix.com/">
                        <img src="css/images/wix-logo-removebg-preview.png" alt="">
                    </a>
                </div>
                <h3>WIX</h3>
            </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <a href="https://www.google.com/intl/en_my/business/">
                        <img src="css/icons/google-my-business.svg" alt="">
                    </a>
                </div>
                <h3>My Business Websites</h3>
            </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <a href="https://www.ionos.com/?utm_marketchange=entrybanner-uk&__hstc=17532518.3af10dd3b929984530e8c138920be1ec.1682951403941.1682951403941.1682951403941.1&__hssc=17532518.1.1682951403941&__hsfp=3292126986&_gl=1*ju65wb*_ga*MTQ1MTQ2MDUxMy4xNjgyOTUxNDAz*_ga_29DKNVLRWX*MTY4Mjk1MTQwMi4xLjAuMTY4Mjk1MTQwMi42MC4wLjA.&linkId=hd.btn.changeShop">
                        <img src="css/images/111.png" alt="">
                    </a>
                </div>
                <h3>1 & 1</h3>
            </div>
            <div class="resources-service">
                <div class="resources-logo1">
                    <img src="css/images/Jimdo_Logo.png" alt="">
                </div>
                <h3>Jimbo</h3>
            </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <img src="css/icons/google-custom-search.svg" alt="">
                </div>
                <h3>Search Console</h3>
            </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <img src="css/images/gms_sharing_link_twitter-removebg-preview.png" alt="">
                </div>
                <h3>Grow My Store</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <img src="css/images/google-apps-script9275-removebg-preview.png" alt="">
                </div>
                <h3>G Suite Learning Centre</h3>
            </div>

        </div>
        <h2>Marketing & Advertising Tools</h2>
        <div class="resources-row">
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/download-removebg-preview.png" alt="">
                </div>
                <h3>Google Ads</h3>
            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/7bsPs7S4_400x400-removebg-preview.png" alt="">
                </div>
                <h3>Think With Google</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/bing-removebg-preview.png" alt="">
                </div>
                <h3>Bing Ads</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo3">
                    <img src="css/images/twitter-logo-A84FE9258E-seeklogo.com-removebg-preview.png" alt="">
                </div>
                <h3>Twitter Ads</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo3">
                    <img src="css/images/facebook-removebg-preview.png" alt="">
                </div>
                <h3>Facebook Ads</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/linkedin-removebg-preview.png" alt="">
                </div>
                <h3>LinkedIn Marketing Solutions</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/hubspot-removebg-preview.png" alt="">
                </div>
                <h3>Hubspot</h3>

            </div>
        </div>
        <h2>Local & Social Tools</h2>
        <div class="resources-row">
            <div class="resources-service">
                <div class="resources-logo3">
                    <img src="css/icons/google-my-business.svg" alt="">
                </div>
                <h3>Google My Business</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/bing-removebg-preview.png" alt="">
                </div>
                <h3>Bing Places</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo3">
                    <img src="css/images/facebook-removebg-preview.png" alt="">
                </div>
                <h3>Facebook For Business</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo3">
                    <img src="css/images/twitter-logo-A84FE9258E-seeklogo.com-removebg-preview.png" alt="">
                </div>
                <h3>Twitter For Business</h3>

            </div>            
        </div>
        <h2>Analytics Tools</h2>
        <div class="resources-row">
            <div class="resources-service">
                <div class="resources-logo3">
                    <img src="css/icons/google-analytics-3-logo-svgrepo-com.svg" alt="">
                </div>
                <h3>Google Analytics</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/Adobe-Analytics-removebg-preview.png" alt="">
                </div>
                <h3>Adobe Analytics</h3>

            </div>
        </div>
        <h2>Export Tools</h2>
        <div class="resources-row">
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/department-removebg-preview.png" alt="">
                </div>
                <h3>Department for International Trade</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo3">
                    <img src="css/images/TwG_Icon.width-1200-removebg-preview.png" alt="">
                </div>
                <h3>Market Finder by Google</h3>

            </div>           
        </div>
        <h2>E-commerce Tools</h2>
        <div class="resources-row">
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/magento-logo-7F3911AE9E-seeklogo.com-removebg-preview.png" alt="">
                </div>
                <h3>Magento</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <img src="css/icons/prestashop.svg" alt="">
                </div>
                <h3>Prestashop</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/shopify-logo-png-transparent-removebg-preview.png" alt="">
                </div>
                <h3>Shopify</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo">
                    <img src="css/images/WooCommerce_logo.svg-removebg-preview.png" alt="">
                </div>
                <h3>WooCommerce</h3>

            </div>
            <div class="resources-service">
                <div class="resources-logo2">
                    <img src="css/images/big.png" alt="">
                </div>
                <h3>BigCommerce</h3>

            </div>
        </div>
    </div>
</section>

