@model string
@{
    ViewData["Title"] = "Resources";
}

@section Links {
    <link rel="stylesheet" href="~/css/resources.css" asp-append-version="true" />
    
}

<section class="resources-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <div class=" container pt-5">
        <h1> Resources and Tools </h1>
        <h2>Online Presence Tools</h2>
        <div class="resources-row">
            <div class="service">
                <div class="logo">
                    <img src="css/images/learn-my-way-removebg-preview.png" alt="">
                </div>
                <h3>Learn My Way</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/wix-logo-removebg-preview.png" alt="">
                </div>
                <h3>WIX</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/icons/google-my-business.svg" alt="">
                </div>
                <h3>My Business Websites</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/111.png" alt="">
                </div>
                <h3>1 & 1</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo1">
                    <img src="css/images/Jimdo_Logo.png" alt="">
                </div>
                <h3>Jimbo</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/icons/google-custom-search.svg" alt="">
                </div>
                <h3>Search Console</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/gms_sharing_link_twitter-removebg-preview.png" alt="">
                </div>
                <h3>Grow My Store</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/google-apps-script9275-removebg-preview.png" alt="">
                </div>
                <h3>G Suite Learning Centre</h3>
                <p>hello this is a resources</p>
            </div>

        </div>
        <h2>Marketing & Advertising Tools</h2>
        <div class="resources-row">
            <div class="service">
                <div class="logo">
                    <img src="css/images/learn-my-way-removebg-preview.png" alt="">
                </div>
                <h3>Learn My Way</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/wix-logo-removebg-preview.png" alt="">
                </div>
                <h3>WIX</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/icons/google-my-business.svg" alt="">
                </div>
                <h3>My Business Websites</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/111.png" alt="">
                </div>
                <h3>1 & 1</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo1">
                    <img src="css/images/Jimdo_Logo.png" alt="">
                </div>
                <h3>Jimbo</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/icons/google-custom-search.svg" alt="">
                </div>
                <h3>Search Console</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/gms_sharing_link_twitter-removebg-preview.png" alt="">
                </div>
                <h3>Grow My Store</h3>
                <p>hello this is a resources</p>
            </div>
            <div class="service">
                <div class="logo">
                    <img src="css/images/google-apps-script9275-removebg-preview.png" alt="">
                </div>
                <h3>G Suite Learning Centre</h3>
                <p>hello this is a resources</p>
            </div>

        </div>
    </div>
</section>

