@model RegisterUserModel
@{
    ViewData["Title"] = "CREATE USER";
}

<section class="user-create-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <div class="container pt-5">

<h1 class="text-white">Create User</h1>
<br />
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>
<br />

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
@*    <div class="form-group">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
    </div>*@
    <div class="form-group">
        <br />
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Gender)))">
            <option selected disabled value="Select">Select Gender</option>
        </select>
    </div>
    <div class="form-group">
        <br />
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <!-- Password Confirmation input -->
    <div class="form-outline">
        <br />
        <label asp-for="PasswordConfirmation" class="form-label"></label>
        <input asp-for="PasswordConfirmation" class="form-control" />
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

</div>
</section>