@model DigitalMarketing2.Models.LessonSectionFormModel


<section class="lessonsection-create-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <div class="container pt-5">
    <h2>Create Lesson Section</h2>
        <hr />
        <div class="col-md-4 mx-auto">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="LessonId"/>

            <div class="form-group">
                <label asp-for="LessonSectionOrder"></label>
                <input asp-for="LessonSectionOrder" class="form-control" />
                <span asp-validation-for="LessonSectionOrder" class="text-danger"></span>
            </div>
                    <hr />
            <div class="form-group">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
                    <hr />
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
             <hr />
            <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
        </div>
    <div>
        @*Should go back to its lesson page*@
        <a asp-controller="Lessons" asp-action="Details" asp-route-id="@Model.LessonId">Back to List</a>
    </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}