@model DigitalMarketing2.Models.LessonSectionFormModel

@{
    ViewData["Title"] = "Edit";
}

<section class="lesson-edit-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <div class="container pt-5">

    <div class="d-flex mt-md-5 mt-3">
        <a asp-controller="Lessons" asp-action="Details" asp-route-id="@Model.LessonId">
        <svg class="back-svg flex-center" height="64px" width="32px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26.676 26.676" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M26.105,21.891c-0.229,0-0.439-0.131-0.529-0.346l0,0c-0.066-0.156-1.716-3.857-7.885-4.59 c-1.285-0.156-2.824-0.236-4.693-0.25v4.613c0,0.213-0.115,0.406-0.304,0.508c-0.188,0.098-0.413,0.084-0.588-0.033L0.254,13.815 C0.094,13.708,0,13.528,0,13.339c0-0.191,0.094-0.365,0.254-0.477l11.857-7.979c0.175-0.121,0.398-0.129,0.588-0.029 c0.19,0.102,0.303,0.295,0.303,0.502v4.293c2.578,0.336,13.674,2.33,13.674,11.674c0,0.271-0.191,0.508-0.459,0.562 C26.18,21.891,26.141,21.891,26.105,21.891z"></path> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g></svg>
        </a>  
        <h1 class="flex-center ms-3 mb-0">Edit Lesson Section</h1>
    </div>

    <hr />
    <div class="row">
            <div class="col-md-4 mx-auto">
            <form asp-action="Edit" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LessonSectionId"/>
                <div class="form-group">
                    <label asp-for="LessonId" class="control-label"></label>
                    <select asp-for="LessonId" class="form-control" asp-items="@(new SelectList(ViewBag.LessonSelectList,"LessonId","Name"))"></select>
                    <span asp-validation-for="LessonId" class="text-danger"></span>
                </div>
                    <hr />
                <div class="form-group">
                    <label asp-for="LessonSectionOrder"></label>
                    <input asp-for="LessonSectionOrder" class="form-control" />
                    <span asp-validation-for="LessonSectionOrder" class="text-danger"></span>
                </div>
                    <hr />
                <div class="form-group">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                    <hr />
                @if (Model.Image != null)
                {
                    <div class="form-group">
                        <label>Uploaded Image:</label>
                        <span>@Model.Image.FileName</span>
                            <div class="d-flex justify-content-center">
                            <img src="@Url.Action("GetImage", "LessonSections", new { id = Model.LessonSectionId })" style="max-width: 50vw; max-height: 50vh;" />
                        </div>
                            <hr />
                        <input class="form-check-input" type="checkbox" asp-for="RemoveImage" />
                        <label class="form-check-label" asp-for="RemoveImage">
                            Remove existing image
                        </label>
                    </div>
                        <hr />
                        <div class="form-group">
                        <label asp-for="Image">Replace Image</label>
                        <input asp-for="Image" type="file" accept="image/*" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <hr />
                }
                else
                {
                        <div class="form-group">
                        <label asp-for="Image"></label>
                        <input asp-for="Image" type="file" accept="image/*" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <hr />
                }
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
            </form>
        </div>
    </div>

    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
