@{
    ViewData["Title"] = "Home Page";
}

@section Links {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/resources.css" asp-append-version="true" />
}

<section class="banner">
    <div class="container">
        <div class="col-md-10 col-lg-8 details">
            <h1>BUILD YOUR ONLINE PRESENCE</h1>
            <h3>Digital Marketing to Propel Your Business to the Next Level.</h3>
            <a asp-controller="Modules" asp-action="Index" class="button primary-btn">Discover more</a>
        </div>
    </div>
</section>

<section id="home-top" class="intro py-5">
    <div class="container">
        <div class="row h-100">

            <div class="intro-details d-flex flex-column col-lg-4 col-md-6 h-100 pt-lg-5">
                <h3 class="pb-5"> Do things you never thought possible</h3>
                <p class="pb-3">Discover courses in topics designed to help expand your career, business and horizons and to upgrade your skills for a new digital world.</p>
            
            </div>

        </div>
    </div>
</section>

<section id="home-top" class="intro2 py-5">
    <div class="container2">
        <div class="row h-100">
            <div class="col-lg-8 col-md-6"></div>
            <div class="intro-details2 d-flex flex-column col-lg-4 col-md-6 h-50 pt-lg-5">
                <h3 class="pb-5"> Getting Britain Growing</h3>
                <p class="pb-3">Since 2015, we've trained over 800,000 people, to help them find a job, grow their career or business. Across Britain, local businesses, communities and people are using MarketUp tools and training to thrive. Discover how MarketUp is helping the UK economy to grow. </p>
                <a asp-controller="About" asp-action="Index" class="button primary-btn">Discover more</a>
            </div>


        </div>
    </div>
</section>
<section class="home-faq">
    <div class="faq-title">
        <h1 class="faq-title">Frequently Asked Questions</h1>
        <p class="faq-title2">Having doubts? We're here to help!</p>
    </div>

    <!-- Accordion -->
    <div class="faq-accordion">
        <div class="faq-accordion-item">
            <h2 class="faq-accordion-question">
                Who is MarketUp for?
            </h2>

            <p class="faq-accordion-answer">
                Everyone. Gain today's most in-demand skills, whether you're growing your business, starting a career, or just want to try something new. We’ve got a range of courses and over 40 hours of learning available to help take you where you need to go. If you’re keen to come and learn, we’re keen to meet you!
            </p>
        </div>
        <div class="faq-accordion-item">
            <h2 class="faq-accordion-question">
                Does MarketUp offer certifications?
            </h2>

            <p class="faq-accordion-answer">
                Yes! We have partnered with multiple developer clubs and organisations to offer you with certifications,
                promotions for certification examinations, workshops and many more! To learn more, please head over to our About page.
            </p>
        </div>
        <div class="faq-accordion-item">
            <h2 class="faq-accordion-question">
                Who provides the courses?
            </h2>

            <p class="faq-accordion-answer">
                Some of the courses are provided by us, and others from our partner universities or institutions.
            </p>
        </div>
        <div class="faq-accordion-item">
            <h2 class="faq-accordion-question">
                What is the MarketUp?
            </h2>

            <p class="faq-accordion-answer">
                Brush up your digital skills to grow your business, your career, or just your confidence. The everyday experts at MarketUp will help you succeed online. Anyone can benefit, regardless of their skill level, goals or background.
            </p>
        </div>
        <div class="faq-accordion-item">
            <h2 class="faq-accordion-question">
                How do I create a Google Digital Garage account?
            </h2>

            <p class="faq-accordion-answer">
                Ready to learn about digital marketing and gain new skills? Create your MarketUp account by selecting 'My Profile' in the menu
            </p>
        </div>
    </div>
</section>

