@model DigitalMarketing2.Models.QuizFormModel

@{
    ViewData["Title"] = "Create";
}

<section class="quiz-create-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
<div class="container pt-5">

    <div class="flex-center mt-5">
        <a asp-action="Index" asp-route-LessonId="@Model.LessonId">
        <svg class="back-svg flex-center" height="64px" width="32px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26.676 26.676" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M26.105,21.891c-0.229,0-0.439-0.131-0.529-0.346l0,0c-0.066-0.156-1.716-3.857-7.885-4.59 c-1.285-0.156-2.824-0.236-4.693-0.25v4.613c0,0.213-0.115,0.406-0.304,0.508c-0.188,0.098-0.413,0.084-0.588-0.033L0.254,13.815 C0.094,13.708,0,13.528,0,13.339c0-0.191,0.094-0.365,0.254-0.477l11.857-7.979c0.175-0.121,0.398-0.129,0.588-0.029 c0.19,0.102,0.303,0.295,0.303,0.502v4.293c2.578,0.336,13.674,2.33,13.674,11.674c0,0.271-0.191,0.508-0.459,0.562 C26.18,21.891,26.141,21.891,26.105,21.891z"></path> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g></svg>
        </a>  
        <h1 class="flex-center ms-3 mb-0">Create Quiz</h1>
    </div>


<hr />
<div class="row">
    <div class="col-md-8 col-10 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="LessonId"/>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="QuizOrder" class="control-label"></label>
                <input asp-for="QuizOrder" class="form-control" />
                <span asp-validation-for="QuizOrder" class="text-danger"></span>
                <br />
            </div>

            @*options and answer*@
            <div id="question-options">
                <div class="form-group">
                    <label asp-for="QuestionOptions"></label>

                    <div id="options-container">
                        <div class="input-group my-3">
                            <input type="text" class="form-control option-input" name="QuestionOptions[0].Option" asp-for="QuestionOptions[0].Option" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary remove-option-button">Remove</button>
                            </div>
                        </div>
                        <div class="input-group my-3">
                            <input type="text" class="form-control option-input" name="QuestionOptions[1].Option" asp-for="QuestionOptions[1].Option" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary remove-option-button">Remove</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="add-option-button" class="btn btn-outline-primary mt-2">Add Option</button>
                    <span asp-validation-for="QuestionOptions" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <br />
                    <label asp-for="AnswerId"></label>
                    <select class="form-control" asp-for="AnswerId" name="AnswerId" id="answer-dropdown">
                        <option value="">-- Select Answer --</option>
                    </select>
                    <span asp-validation-for="AnswerId" class="text-danger"></span>
                    <br />
                </div>
            </div>

            <div class="form-group flex-center">
                <input type="submit" value="Create" class="btn btn-primary px-5" />
            </div>
        </form>

    </div>
</div>

</div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/quiz.js" asp-append-version="true"></script>
}
