@model DigitalMarketing2.Models.QuizFormModel

@{
    ViewData["Title"] = "Create";
}

<section class="quiz-create-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
<div class="container pt-5">

<h1>Create Quiz</h1>

<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="LessonId"/>
            @*<div class="form-group">
                <label asp-for="LessonId" class="control-label"></label>
                <select asp-for="LessonId" class="form-control" asp-items="@(new SelectList(ViewBag.LessonSelectList,"LessonId","Name"))"></select>
                <span asp-validation-for="LessonId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="QuizOrder" class="control-label"></label>
                <input asp-for="QuizOrder" class="form-control" />
                <span asp-validation-for="QuizOrder" class="text-danger"></span>
                <br />
            </div>
            @*options and answer*@
            <div id="question-options">
                <div class="form-group">
                    <label asp-for="QuestionOptions"></label>

                    <div id="options-container">
                        <div class="input-group">
                            <input type="text" class="form-control option-input" name="QuestionOptions[0].Option" asp-for="QuestionOptions[0].Option" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary remove-option-button">Remove</button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control option-input" name="QuestionOptions[1].Option" asp-for="QuestionOptions[1].Option" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary remove-option-button">Remove</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="add-option-button" class="btn btn-outline-primary mt-2">Add Option</button>
                    <span asp-validation-for="QuestionOptions" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <br />
                    <label asp-for="AnswerId"></label>
                    <select class="form-control" asp-for="AnswerId" name="AnswerId" id="answer-dropdown">
                        <option value="">-- Select Answer --</option>
                    </select>
                    <span asp-validation-for="AnswerId" class="text-danger"></span>
                    <br />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index" asp-route-LessonId="@Model.LessonId">Back to List</a>
</div>

</div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/quiz.js" asp-append-version="true"></script>
}
