@model string
@{
    ViewData["Title"] = "About";
}

@section Links {
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
}

@{
    var x = 1;
}


<section class="about-page min-vh-100 m-auto py-5 pt-10vh col-white w-100">
    <div class="img-container mt-5">

        <main role="main" class="pb-3 h-auto">
            <section class="about-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
                <div class="container pt-5">
                    <div>
                        <h1 style="padding: 10px;"> About Us</h1>
                        <div>
                            <span style="font-size:18px ;text-align: justify;">
                                MarketUp is an innovative platform designed to provide
                                users with<br>
                                a comprehensive and practical learning experience in the field of<br>
                                digital marketing. With MarketUp,learners have access to a wide range<br> of
                                modules

                                and resources that cover a

                                variety of digital marketing<br> topics. The courses are designed by industry

                                experts and updated<br> regularly by the platform’s administrators to reflect

                                the

                                latest trends<br> and best practices. MarketUp strongly believes that

                                collaborative<br>

                                learning makes learning more

                                effective.

                            </span>
                            <hr/>
                            <div style="padding-left: 70vh;">
                                <!-- Adjust the value as per your requirement -->
                                <a asp-controller="Modules" asp-action="Index" class="button primary-btn">Explore</a>
                            </div>
                            <hr />
                        </div>

                    </div>

                    <div>
                        <hr/>
                        <h2 style="padding: 10px;"> Mission</h2>
                        <div>
                            <span style="font-size:18px">
                                Provide a digital learning platform for learners to
                                acquire<br> practical skills and knowledge via multiple modules, tools<br> and

                                web

                                resources.

                            </span>

                        </div>

                    </div>
                </div>
            </section>
        </main>

    </div>
</section>