@model string
@{
    ViewData["Title"] = "About";
}

@section Links {
    @*<link rel="stylesheet" href="~/css/module.css" asp-append-version="true" />*@
}

<section class="about-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <div class="container pt-5">
        <h2> hihi </h2>
    </div>
</section>